.AccreditationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }
.AccreditationContainer h1 {
    padding-bottom: 100px;
}
  
  .AccreditationImages {
    display: flex;
    gap: 90px; 
    justify-content: center;
  }
  
  .AccreditationImages img {
    width: 200px; 
    height: auto;
  }
  