.button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: var(--tran-03);
  }
  
  .button:hover {
    opacity: 0.9;
  }
  
  .button:active {
    transform: scale(0.98);
  }
  
  .button-primary {
    background-color: var(--primary-color);
    color: #FFFFFF;
  }
  
  .button-primary.dark {
    background-color: var(--primary-color-light);
    color: var(--text-color);
  }
  
  .button-secondary {
    background-color: var(--toggle-color);
    color: var(--text-color);
  }
  
  .button-secondary.dark {
    background-color: var(--primary-color-light);
    color: var(--toggle-color);
  }