@import '../../App.css';
.tit{
    text-align: center;
}
.landRes-main-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 50px 0px 50px 0px;
    height: 560px;
    align-items: center;
    
}
.l-div{
    display: flex;
    flex-direction: column;
    padding-inline: 16%;
    color: black;
    
}
.l-div h1{
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.l-div p{
    font-weight: 400;
    line-height: 2;
    text-align: center;
    font-size: 1.2rem;
}
.r-div {
    min-height: 100%;
    width: 100%;
    background-image: url("../../assets/img/library.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.seg-section {
    display: flex;
    justify-content: center;
}
.seg-section div{
    color: black;
    width: 500px;
}
.seg-section h1{
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.seg-section p{
    font-weight: 400;
    line-height: 2;
    text-align: center;
    font-size: 1.2rem;
}
.newSec{
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    margin-top: 0px;
    padding-inline: 15%;
    height: fit-content;
    height: 310px;
    margin-bottom: 50px;
}
.lf-send-cont{
    flex: 1.5;
    padding-inline: 5%;
}
.rg-send-cont{
    flex: 1;
    padding-right: 5%;
    border-radius: 20px;
}
.lf-send-cont div{
    display: flex;
    flex-direction: row;
    gap: 6%;
    align-items: center;
    margin-bottom: 30px;
}
div input{
    flex: 1;
    padding: 1% 0% 1% 2%;
    border: solid 1px #b1b0b0; 
    border-radius: 20px;
}
div input::placeholder,
textarea::placeholder{
    color: #b1b0b0;
}
.input-mat{
    flex:3;
}
div select{
    flex: 1.5;
    padding: 1% 0% 1% 2%;
    border: solid 1px #b1b0b0;
    border-radius: 20px;
    font-family: var(--font-family);
}
div textarea{
    flex: 1;
    padding: 1% 0% 1% 2%;
    border: solid 1px #b1b0b0;
    height: 80px;
    resize: none;
    border-radius: 8px;
    font-family: var(--font-family);
}
h1{
    text-align: start;
}
.rg-send-cont img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.div-btn-send{
    display: flex;
    justify-content: space-between;
}
.lf-send-cont button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}