.main{
    height: 900px;
}
.mat-acad{
    text-align: center;
    margin-top: 0;
    padding-top: 3%;
    font-size: var(--font-size-subtittle);
    color: var(--text-color-secondary);
}

.semestre-menu {
    display: flex;
    justify-content: space-between;
    padding-inline: 300px;
    margin-top: 60px;
}

.semestre-container {
    position: relative; 
}

.semestre-btn {
    background-color: #00485b;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.semestre-btn:hover {
    background-color: #4a4b4b;
}

.subject-selector-container {
    position: absolute;
    top: 110%;
    left: 0;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 0px;
    z-index: 10;
}

.subject-selector-container {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -5px;
}

.subject-selector-container:hover {
    display: block;
}
.section{
    margin-top: 30px;
    padding-inline: 10%;
    margin-bottom: 50px;
}

.section h3{
    margin-top: 20px;
    font-size: 4.5rem;
    color: var(--text-color-secondary);
    text-align: center;
    margin-bottom: 0px;
}
.section .underline{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: var(--primary-color);
    height: 7px;
    margin-bottom: 20px;
}
.card-cont-resourses{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 800px;
}
.card-container-res{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 500px;
    margin-top: 5%;
}
.custom-card-resourses{
    background-color: #E2E2E2;
    border-radius: 20px;
    border: 1px solid black;
    text-align: start;
}
.custom-card-resourses h2{
    color: #1E0E62;
}
.custom-card-resourses p{
    color: #1E0E62;
    opacity: 60%;
}

.custom-card-resourses .card-button{
    border: 1px solid black;
    border-radius: 20px;
    color: #1E0E62;
}
.custom-card-resourses .card-button:hover{
    background-color: #1E0E62;
    color: white;
}