/* Main container styling */
.main-container-ourcareer {
    height: 70vh;
    background: url("../../assets/img/fondo.png");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-size: 100%;
  color: #fff;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
}


.main-container-ourcareer div {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 4%;
}

.tittle {
    margin: 0;
    color: var(--text-color);
    font-size: var(--font-size-tittle);
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 5rem;
}

  /*  MALLA CURRICULAR*/
  
  .malla-curricular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-family: var(--font-family);
  }
  
  .malla-curricular h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  
  .malla-curricular img {
    max-width: 100%;
    width: 800px;
    height: auto;
    border-radius: 10px;
  }

  /* Responsivo */
    @media (max-width: 768px) {
        .main-container-ourcareer {
        padding: 60px 35px 10px 50px
        }
    }
  
  