@import '../../App.css';

.footer {
  background: url("Z:/CEIS-Front/CEIS-frontend/src/assets/bg-footer2.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-size: 100%;
  color: #fff;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.footer-content {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  text-align: left;
  align-items: top;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-logo {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0px;
  font-style: italic;
}

.footer-section p {
  line-height: 1.6; 
}

.footer-section h2 {
  font-size: 18px; 
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none; 
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff; 
  text-decoration: none; 
  transition: color 0.3s; 
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons i {
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.3s;
}

.social-icons i:hover {
  color: #f4b400;
}


.social-icons svg {
  font-size: 24px;
  margin-right: 10px; 
  color: #fff;
  transition: color 0.3s; 
}

.social-icons .faTwitter:hover {
  color: #00acee; 
}
.faFacebook:hover {
  color: #3b5998; 
}
.faTiktok:hover {
  color: #e4405f; 
}
