@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  --primary-color: #073E4E;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #ecf0f1;
  --text-color: #FFFFFF;
  --text-color-secondary: #1E0E62;
  --font-family: 'DM Sans', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
}