:root {
  --primary-color: #073E4E;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --background-color: #ecf0f1;
  --text-color: #FFFFFF;
  --text-color-secondary: #1E0E62;
  --font-family: 'DM Sans', sans-serif;
  --font-size-tittle:3rem;
  --font-size-subtittle:2rem;
  --font-size-paragraph:1.375rem;
}

body {
  margin: 0;
  font-family: var(--font-family);
}